@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Montserrat"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* sprites */
.bg-arrowRightHover {width: 31px; height: 31px;background: url('../images/common/css_sprites.png') -71px -10px;}
.bg-location {width: 16px; height: 20px;background: url('../images/common/css_sprites.png') -10px -120px;}
.bg-star {width: 14px; height: 14px;background: url('../images/common/css_sprites.png') -85px -120px;}
.bg-arrowRight {width: 31px; height: 31px;background: url('../images/common/css_sprites.png') -10px -69px;}
.bg-arrowLeftHover {width: 31px; height: 31px;background: url('../images/common/css_sprites.png') -61px -69px;}
.bg-arrowLeft {width: 31px; height: 31px;background: url('../images/common/css_sprites.png') -122px -10px;}
.bg-phone {width: 19px; height: 20px;background: url('../images/common/css_sprites.png') -122px -61px;}
.bg-quote {width: 41px; height: 39px;background: url('../images/common/css_sprites.png') -10px -10px;}
.bg-email {width: 19px; height: 15px;background: url('../images/common/css_sprites.png') -46px -120px;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "socialico"}

/*button*/
.btn {font-family: "Montserrat"; font-size: 12px; font-weight: 800; color: #fff; display: inline-block; padding: 10px 20px; background: #B20000; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Montserrat"; font-size: 40px;font-weight: 900;color:#212121;position: relative;z-index: 2; text-align: left;margin-bottom: 30px;}
h1:after{content: "";width: 149px; height: 89px;border: 3px solid #B20000;position: absolute;z-index: 1; left: 90px;top: -20px;background: transparent;}
h1 span{position: relative;z-index: 9999;}
/*header*/
#header {}
#header .row{max-width: 1160px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 35px 0;text-align: right;}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Montserrat"; font-weight: 800; font-size: 12px; color: #000; padding: 10px 30px; }
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;background:#B20000 }
.hdTop{background: #B20000; padding: 5.5px 0}
.hdTop p{margin: 0}
.hdTop p img, .hdTop p span{display: inline-block; vertical-align: middle;}
.hdTop p span{margin-left: 10px}
.hdTopLeft p{font-size: 28px; color: #fff; text-align: left;letter-spacing: 10px}
.hdTopMid p{font-family: "Montserrat"; font-weight: 800; font-size: 15px; color: #fff;margin-top: 5px}
.hdTopRight p{font-family: "Montserrat"; font-weight: 300; font-size: 15px; color: #fff; text-align: right;margin-top: 5px}
.hdBot img.logo{max-width: 289px; width: 100%}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top;background-size: cover;padding: 30px 0 276px}
#banner .row{max-width: 1440px}
.tag {text-align: left;}
.tag p:nth-of-type(1){margin: 0; font-family: "Montserrat"; font-size: 40px; font-weight: 400; color: #fff; line-height: 60px}
.tag p:nth-of-type(1) span{display:block; font-size: 85px; font-weight: 900}
.tag p:nth-of-type(2){margin: 0; font-family: "Poppins"; font-weight: 400; font-size: 16px; color:#fff; max-width: 325px}
.tag a.button{font-family: "Oswald"; font-weight: 400; font-size: 15px; color: #fff; background: #B20000; padding: 10px 30px; display: inline-block;}
/*content*/
/* section1 */
#section1{background: #F7F7F7;padding: 60px 0;}
#section1 .services{display: flex; justify-content: space-around; flex-wrap: wrap;}
#section1 .services dl dt{min-height: 89px}
#section1 .services dl dd{margin: 0;padding: 20px 0 0; font-family: "Montserrat";font-weight: 800; font-size: 20px; color: #333333}

/* section2 */
#section2{padding: 0;max-height: 503px}
#section2 .row{max-width: 1440px}
.s2Left{text-align: left;padding: 75px 0;}
.s2Left.col-6{width: 45.67%;}
.s2Left section{max-width: 450px;margin: 0 60px 0 auto;}
.s2Left section p{font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #212121;line-height: 30px;}
.s2Right.col-6{width:54.33%;}
.s2Right img{max-width: 790px; width: 100%;}

#section3{background: #000;max-height: 670px}
#section3 .row{max-width: 1440px}
#section3 h1{color: #fff;}
.s3Left.col-6{width: 45.67%;}
.s3Left img{max-width: 654px; width: 100%;margin-top: -4px;}
.s3Right.col-6{width: 54.33%;}
.s3Right{text-align: left;padding: 91px 0;}
.s3Right section{max-width: 490px;margin: 0 auto 0 60px;}
.s3Right section p{font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #fff;line-height: 30px;}

/* section4 */
#section4{padding: 65px 0;}
#section4 .row{max-width: 1160px}
.s4Left{text-align: left;width: 30.1724137;}
.s4Left{padding: 20px 0;}
.s4Left section{max-width: 290px;}
.s4Left section p{margin: 30px 0;font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #333333;line-height: 30px;}
.s4Right{display: flex;justify-content: flex-start;flex-wrap: wrap;}
.s4Right dl{position: relative;max-width: 355px; max-height: 248px;width: calc(100%/2);; margin: 0;}
.s4Right dl dt img{max-width: 355px; width: 100%;height: auto;}
.s4Right dl dd{font-family: "Montserrat";font-weight: 800; font-size: 20px; color: #fff;margin: 0;background: rgba(0,0,0,0.5);max-width: 205px; width: 100%;padding: 48px 0;position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%);}
.s4Right dl dd::after{content:""; width: 145%;height: 135%; background: transparent; border: 2px solid rgba(255,255,255,0.5);position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%);}

/* section5 */
#section5{position: relative;background: url(../images/common/bg1.jpg)no-repeat center top; background-size: cover; padding: 135px 0}
#section5 section{position: relative;max-width: 776px; width: 100%;margin: 0 auto;z-index: 999}
#section5 section h2{font-family: "Montserrat"; font-weight: 800; font-size: 85px; color: #fff; margin-bottom: 20px;}
#section5 section p{font-family: "Montserrat"; font-weight: 800; font-size: 25px; color: #fff; margin: 0;}
#section5::after{content: ""; width: 249px;height: 64%;background: transparent; border: 3px solid #B20000;position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%);}

#section6{padding: 65px 0 0;}
#section6 h1{color: #fff;position: absolute; top: 18%; left: 11%;}
#section6 .images{position: relative;display: flex;; justify-content: center;flex-wrap: wrap}
#section6 .images img{height: 100%;}

#section7{padding: 65px 0;}
#section7 .s7Left{padding: 60px 0 0;}
#section7 .s7Mid{text-align: left;}
#section7 .s7Mid p{margin-top: 110px;}
#section7 .s7Right .quote{max-width: 657px;text-align:left; background: #EEEEEE}
#section7 .s7Right .quote .qtext.col-8{margin: 30px 0 0 30px;width: 71%;}
#section7 .s7Right .quote .qtext p{margin: 0;font-family: "Montserrat"; font-weight: 400; font-size: 14px; color: #333333;line-height: 20px;font-style: italic;}
#section7 .s7Right .quote p.author{text-align:right; font-family: "Montserrat"; font-weight: 900; font-size: 14px; color: #333333;line-height: 20px;font-style: normal;;}
#section7 .s7Right .quote p.author span {display: block; color: #FFBF00; font-size: 20px}
#section7 .s7Right .quote img{clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);}

#section8{padding: 0;}
#section8 .row{max-width: 1440px;}
.s8Left.col-5{width: 44.23%;}
.s8Left img{max-width: 637px; width: 100%;height: auto;}
.s8Right.col-6{width: 55.77%;background: url(../images/content/bgSvcArea.jpg)no-repeat center top; background-size: 100% 100%;padding: 40px 0 20px 0;}
.s8Right section{max-width: 600px; margin: 0 0 0 60px;}
.s8Right section ul{columns: 3; list-style: none; padding: 0;text-align: left; line-height: 35px}
.s8Right section ul li{font-family: "Montserrat"; font-weight: 600; font-size: 15px; color: #333333;}
/*footer*/
#footer {background: #000;}
.footTop{padding: 30px 0}
.footTop .row{max-width: 1160px}
.footLeft section{text-align: left;margin: 0;max-width: 350px}
.footLeft section p{font-family: "Montserrat"; font-weight: 400; font-size: 14px;color: #fff;}
.footLeft section img.footLogo{max-width: 318px; width: 100%;height: auto;}
.footMid section{text-align: left;margin: 20px auto 0;max-width: 240px;color: #fff; line-height: 20px}
.footMid section h3{font-family: "Montserrat"; font-weight: 900; font-size: 15px;color: #fff;}
.footMid section p{font-family: "Montserrat"; font-weight: 400; font-size: 14px;color: #fff;}
.footMid section p:nth-of-type(2){font-family: "Montserrat"; font-weight: 700; font-size: 18px;color: #fff;}
.footMid section p:nth-of-type(4){font-size: 28px;color: #fff;letter-spacing: 10px;}
.footMid section p img, .footMid section p span{display: inline-block;vertical-align: middle;}
.footMid section p span{margin-left: 10px;}
.footRight section{text-align: left;margin: 20px auto 0;max-width: 450px;color: #fff;}
.footRight section h3{font-family: "Montserrat"; font-weight: 900; font-size: 15px;color: #fff;margin-bottom: 20px;}
.footRight section form {text-align: left;}
.footRight section form label{font-family: "Montserrat"; font-weight: 400; font-size: 14px;color: #fff}
.footRight section form input[type="text"]{border-radius: 0; width: 220px; height: 36px;}
.footRight section form textarea{border-radius: 0; width: 445px; height: 89px;}
.footRight section form .btn{margin: 10px auto 0 0;background:#B20000;color: #fff;}
.footBot{background: #B20000; padding: 5px 0}
.footBot p{margin: 0; font-family: "Montserrat"; font-weight: 500; font-size: 12px; color: #fff}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

@media screen and (max-width: 1440px){
  .s3Left img{margin-top: 0;}
}
@media screen and (max-width: 1024px){

	body {min-width: 320px}
	.row {width: 95%}
  .footMid section p span {
    max-width: 87.6%;
    word-break: break-all;
    width: 100%;}
  .resSection{max-height: none!important;}
    #section6 h1 {top: 9%;}
    .s8Right.col-6{background: none}
    #section7 .s7Right .quote .qtext.col-8{width: 64%;}
    .footRight section form input[type="text"], .footRight section form textarea{width: 98%;}
    .s4Right dl dd::after {width: 120%;height: 120%;}
}
@media screen and (max-width: 800px){
  section{max-width: 100%!important; margin: 0 auto!important;}
  [class*="col-"] {
      width: 100% !important;
      margin: 0 auto!important;
  }
  .fl, .fr{float: none!important;}
  .resFlex{justify-content: center !important;}
  .resSection{padding: 20px 0 !important;max-height: none!important;}
  .resImage{display: none !important;}
	#header {padding: 50px 0 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; position: absolute; top: 0; left: 0; width: 100%; margin-bottom: 10px}
  	#header nav ul { width: 100%; padding: 0!important;display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px; background-color: rgba(0,0,0,0.8)}
  	#header nav ul li { width: 100%;position: relative; padding-left: 10px; width: 98.1%}
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;color: #fff!important;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header nav ul li.active-menu, #header nav ul li:hover {background: #B20000}


  #footer section{max-width: 100%}


  .s4Right dl{width: 100%}
  #section6 .images img{width: calc(100%/3);}
  .footRight section form input[type="text"],.footRight section form textarea{width: 100%;}
  .hdTop p{margin: 0; text-align: center;}
	.cta{background: #000000  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #000000 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
@media screen and (max-width: 600px){
  #section6 .images img{width: calc(100%/2);}
  .s2Left section h1{font-size: 6.67vw}
  #section5 section h2{font-size: 14.16vw}
  #section5 section p{font-size: 4.16vw}
}
